body {
  font-family: sans-serif;
  font-size: 16px;
  background: lightgoldenrodyellow;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 5px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: rgb(0, 0, 0);
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #06afd5;;
  color: #000000;
}

.past {
  background-color: #929191;
}

.present {
  background-color: #ff4238;
}

.future {
  background-color: #12b912;
}

.notification {
  font-size: 20px;
  text-align: center;
  display: none;
  padding-bottom: 30px;
  color: #12b912;
}

.show {
  display: block;
}